/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: CUTADAPT {
        ext.args = { params.extra_cutadapt_args ?: '' }
    }

    withName: BOWTIE_ALIGN_RNA {
        memory = 16.GB
        cpus = 8
        ext.args = { params.extra_align_rna_args ?: '' }
        publishDir = [
            path: "${params.outdir}/bowtie_rna",
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename != 'versions.yml') ? filename : null }
        ]
    }

    withName: BOWTIE_ALIGN_GENOME {
        memory = 16.GB
        cpus = 8
        ext.args = { params.extra_align_genome_args ?: '' }
        publishDir = [
            path: "${params.outdir}/bowtie_genome",
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename != 'versions.yml') ? filename : null }
        ]
    }

    withName: BOWTIE_ALIGN_TRANSCRIPTOME {
        memory = 16.GB
        cpus = 8
        ext.args = { params.extra_align_transcriptome_args ?: '' }
        publishDir = [
            path: "${params.outdir}/bowtie_transcriptome",
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename != 'versions.yml') ? filename : null }
        ]
    }

    withName: BEDTOOLS_GENOMECOV {
        ext.args = '-bga'
    }

    withName: RIBOTISH_QUALITY {
        ext.args = { params.extra_ribotish_qual_args ?: '' }
    }

    withName: RIBOTISH_PREDICT {
        ext.args = { params.extra_ribotish_args ?: '' }
    }

    withName: MEME_FINDMOTIFS {
        ext.args = '-dna -brief 100000'
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}

//
// Genome preparation options
//

process {
    withName: 'GETRNAS' {
        publishDir = [
            path: { params.save_reference ? "${params.outdir}/genome" : params.outdir },
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename != 'versions.yml' && params.save_reference) ? filename : null }
        ]
    }
    withName: 'GFF_CREATEDB' {
        publishDir = [
            path: { params.save_reference ? "${params.outdir}/genome" : params.outdir },
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename != 'versions.yml' && params.save_reference) ? filename : null }
        ]
    }
    withName: 'BOWTIE_RNA_BUILD' {
        publishDir = [
            path: { params.save_reference ? "${params.outdir}/genome/RNA" : params.outdir },
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename != 'versions.yml' && params.save_reference) ? filename : null }
        ]
    }
    withName: 'BOWTIE_GENOME_BUILD' {
        publishDir = [
            path: { params.save_reference ? "${params.outdir}/genome/GENOME" : params.outdir },
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename != 'versions.yml' && params.save_reference) ? filename : null }
        ]
    }
    withName: 'BOWTIE_TRANSCRIPTOME_BUILD' {
        publishDir = [
            path: { params.save_reference ? "${params.outdir}/genome/TRANSCRIPTOME" : params.outdir },
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename != 'versions.yml' && params.save_reference) ? filename : null }
        ]
    }
    withName: 'MAKE_TRANSCRIPTS_FASTA' {
        publishDir = [
            path: { params.save_reference ? "${params.outdir}/genome" : params.outdir },
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename != 'versions.yml' && params.save_reference) ? filename : null }
        ]
    }
}
